#cart a, #cart a:visited {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 2px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
    text-decoration: none;
    padding-bottom: 0.1em;
}

#cart{

    grid-row-start: 2;
    padding: 4em;
}

#cart table {
    border-collapse: collapse;
    margin: 1em 0;
    padding: 4em;
  }
  
  #cart th{
    padding: 1em;
    text-align: center;
    background-color: rgb(32, 74, 150);
    color: white;

  }

  #cart td{
    padding: 1em;
    text-align: center;
    background-color: white;
    color: black;
  }

  

  #cart table tbody tr :nth-child(3)::after, #cart table tbody tr :nth-child(4)::after{
      content: "€";
  }
  
  #cart tfoot th:nth-child(2)::after{
    content: "€";
  }
  
  #cart tr {
    background-color: #ffddd2;  
    border: 5px solid white;
  }
  
  #cart thead tr, #cart tfoot tr  {
    background-color: #edf6f9;
  }

@media(max-width: 60em){
    #cart{
        padding: 1em;
        position: unset;
    }
}

@media(max-width: 1554px){
    #cart{
        position: unset;
    }
}