body{
    display: block;
}

#order{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 1em;
    padding-left: 6em;
}

#order > img{
    flex: 0;
    max-height: 200px;
    border-radius: 10%;
}

#dish{
    display: flex;
    flex-direction: row;
}

#dish p{
    margin: 1em;
    padding: 0.1em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#dish :first-child{
    border: 1px solid rgb(226, 226, 226);
}

#order #description > p:nth-child(1){
    font-weight: bolder;

}
#order #description{
    flex: 1;
}

#order #description > p:nth-of-type(2)::after, #dish p:nth-child(3)::after{
    content: "€";
}

#description > p{
    padding: 1em;
}
