* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 100%;   
    height: 100%;
    min-height: 100%;
    position: absolute;
    background: #fff;

    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../background.jpg);
  


    
}
.profile{
    
    background-color: rgba(255, 255, 255, 0.8); 
    
}



.header > h1 {
    
    color: #1C1C1C;
    padding: 15px;
}

.header > p {
    padding: 15px;
}

.header > img {
    width:400px;
    border-radius: 10%;
    filter: grayscale(1);
    transition: .3s;
    cursor: pointer;
}

img.ico {
  margin-top: 15px;
  width:20px;
  border-radius: 10%;
  filter: grayscale(1);
  cursor: pointer;
}

img:hover {

  cursor: pointer;
  filter: grayscale(0);
  border-radius: 50%;
  /*box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);*/
}

.details{
    min-height: 610px;

}


.details > h1 {				
    color: #1C1C1C;
    padding: 10px;
    font-size: 2em;
    
}

.bold {
    font-weight: 700;	
    padding-top: 20px;
	  padding-left: 20px;

    
}

p {
    color: #404040;
    padding: 20px;

}
footer{
    background-color: #ffa31a;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 0.5em;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-content h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-bottom{
    background: transparent;
    color: white;
    padding: 0px 0;
    text-align: center;

}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    color: white;
}

header {
    padding: 1em;
    display: grid;
    grid-template-columns: 11em 3em auto;
    padding-top: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
    background-color: white;
    
}

header h1 {
    grid-column: 1; grid-row: 1/1;
    padding-bottom: 0.2em;
}

header h1 a{
    text-decoration: none;
    color: black;
}

header i {
    grid-column: 2; grid-row: 1;
    text-align: left;
    padding-top: 0.5em;
    font-size: larger;
    padding-left: 0.1em;
    
}

header h1 a{
    text-decoration: none;
    color: black;
}

#loginForm{
    grid-column: 3; grid-row: 1;
    display: block;
    text-align: right;
    padding-top: 0.5em;
}

#loginForm > .login > input[type="button"] {
    background: none;
    border: none;
}

header form{
    grid-column: 1/4; grid-row: 2;
}

.search{
    width: 100%;
    display: inline-flex;
}

.searchInput{
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid rgb(32, 74, 150);
    border-radius: 5px 0 0 5px;
    background: rgb(242, 242, 242);
}

.searchInput::placeholder{
    color:rgb(0, 0, 0)
}

.searchButton{
    width: 3em;
    background-color: rgb(32, 74, 150);
    color: white ;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
    
}

.searchButton i{
    padding-bottom: 0.5em;
}

.searchInput:focus{
    background: white;
}

.button-4 {
    appearance: none;
    background-color: #FAFBFC;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 2px 20px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }

.button-3 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 2px 20px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
  margin-top: 15px;

}
.button-3:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .button-3:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .button-3:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .button-3:focus {
    outline: 1px transparent;
  }
  
  .button-3:before {
    display: none;
  }
  
  .button-3:-webkit-details-marker {
    display: none;
  }

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.logout > a {

    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #000 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
  }
  
  .logout > a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .logout > a:hover {
   background-position: 0;
  }
  
  .logout > a:hover::before{
    width: 100%;
  }
  
  .logout img {
    
  }
  
 .row{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: center;
    padding-left: -100px;
    
 }

 .row > p{
     padding-left: 5px;
 }

 .input-field{
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    border-top: 0;
    outline: none;
    background: transparent;
    margin-right: 15px;
}

.error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
    padding: 20px 35px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }

  .error-text {
    color: #cc0033;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
  }

  .photo{
    padding-top: 20px;
    
  }
  

  #photos .column {
    float: left;
    width: 25%;
    padding: 30px;
   
  }

  #photos .bold p {
    text-align: center;
    color:black;
  }
  #photos .row{
    padding-bottom: 40px;
  }

  #photos .row::after {
    content: "";
    clear: both;
    display: table;
  }

  #photos p {
    font-weight: 800;	
    padding-top: 20px;
	  padding-left: 20px;
    color:#eb9854;
  }
  #photos .button-3 {
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom: 23em;
  }

  
  .square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
  }
  
  /* Custom dropdown */
  .custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20em;
    
  }
  
  .custom-dropdown select {
    background-color: #eb9854;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em; 
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
  }
  
  .custom-dropdown::before,
  .custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
  }
  
  .custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
  }
  
  .custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
  }
  
  .custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
  }
  
  .custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
  }
  
  .custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
  }
  
  .custom-dropdown::after {
    color: rgba(0,0,0,.4);
  }

  .ph{
    margin-top: 15px;
  }
